<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stewart.cloud.dao.UserDao">
    <select id="findByEmail" resultType="com.stewart.cloud.model.User">
      SELECT * FROM user
      where
      email =#{email}
    </select>
    <select id="findUserById" resultType="com.stewart.cloud.model.User">
        SELECT * FROM user
      where
      id=#{Id}
    </select>
    <select id="findExistEmail" resultType="com.stewart.cloud.model.User">
      SELECT id FROM user
      where
      email =#{email}
    </select>
</mapper>